<h1>Events</h1>
<a href="/oaa_dashboard">Dashboard</a>
<a href="/oaa_students">Students</a>
<a href="/oaa_events">Events</a>
<br/>
<br/>
<form method="get" action="{% url 'oaa_events' %}">
    <input type="text" name="search" placeholder="Search events..." value="{{ request.GET.search }}">
    <label>
        <input type="checkbox" name="unapproved_only" {% if unapproved_only %}checked{% endif %}>
        Show only unapproved events
    </label>
    <button type="submit">Search</button>
</form>
<br/>
{% if events %}
    {% for event in events %}
        <a href="oaa_events_detail/{{ event.id }}"><div>{{ event.name }}</div></a>
        <div>{{ event.organizer.name }}</div>
        <div>{{ event.remaining_slots }}</div>
        <div>{{ event.start_datetime }}</div> 
        <div>{{ event.end_datetime }}</div> 
        <div>{{ event.service_hours }}</div>
        <br/>
        <br/>
    {% endfor %}
{% endif %}