<h1>Student Dashboard</h1>
<a href="/student_dashboard">Dashboard</a>
<a href="/student_opportunities">Opportunities</a>
<a href="/student_calendar">Calendar</a>
<h2>Summary</h2>
{% if student %}
<div>
  <label>Required Hours</label>
  {{ student.required_service_hours }}
</div>
<div><label>Penalty Hours</label>{{ student.penalty_service_hours }}</div>
<div><label>Completed Hours</label>{{ student.completed_service_hours }}</div>
{% endif %}

<h2>Upcoming Events</h2>
{% if events %}
  {% for event in events %}
    {% for event in events %}
        <a href="student_opportunities_details/{{ event.id }}"><div>{{ event.name }}</div></a>
        <div>{{ event.organizer.name }}</div>
        <div>{{ event.remaining_slots }}</div>
        {{ event.start_datetime }}
        {{ event.end_datetime }}
        {{ event.service_hours }}
        <br/>
        <br/>
    {% endfor %}
  {% endfor %}
{% endif%}