<h1>Opportunity</h1>
<a href="/student_dashboard">Dashboard</a>
<a href="/student_opportunities">Opportunities</a>
<a href="/student_calendar">Calendar</a>
<br/>
<br/>
<div>
{% if event %}
<div>{{ event.name }}</div>
<div>{{ event.organizer.name }}</div>
<div>{{ event.desciption}}</div>
<div>{{ event.remaining_slots }}</div>
<div>{{ event.start_datetime }}</div>
<div>{{ event.end_datetime }}</div>
<div>{{ event.service_hours }}</div>
<div>{{ event.role_description }}</div>
{% if user_event_status %}
<div>You already joined this event.</div>
{% else %}
</div>
<form method="POST" action="#">
  {% csrf_token %}
  <input type="submit" value="Sign up" />
</form>
<br/>
{% endif %} {% endif %}
